<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <display-name>dokoTubu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>servlet.Main</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SerachMutter</display-name>
    <servlet-name>SerachMutter</servlet-name>
    <servlet-class>servlet.SerachMutter</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SeachMutterLogic</display-name>
    <servlet-name>SeachMutterLogic</servlet-name>
    <servlet-class>model.SeachMutterLogic</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateMutter</display-name>
    <servlet-name>UpdateMutter</servlet-name>
    <servlet-class>servlet.UpdateMutter</servlet-class>
  </servlet>
</web-app>